<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>@ViewData["Title"]</title>
  <link rel="stylesheet" href="~/css/library.css" />
</head>

<body>
  <div class="header">
    Library WEB, Krapyvianskiy Dmytro, PE-211
  </div>
  <div class="main">
    @RenderBody()
  </div>
  <div class="footer">
    &copy; 2024 Krapyvianskiy "Drake21" Dmytro
  </div>
</body>

</html>